/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.sql
*.sqlite
/dist_temp
/dist_production
/public/D_
*.zip
find_method.php
prepare_production_zip.ps1
/public/storage_old
/public/storage_backup_*
/public/cgi-bin
/public/error_log
/public/check_file.php
/error_log
**/error_log
activity_check_result.txt
/public/assets/images/profilefoto/*
/public/assets/images/profilecover/*
